.c-input__text{
  border-radius: 30px;
  width: 200px;
  height: 30px;
  border: 0;
  outline: none;
  margin:var(--general-margin)
}
.c-input__text:focus{
  border: solid 2px var(--secondary-bg-color);
}
.c-input__text:disabled{
  cursor:default;
} 

.c-input__text--error {
  background-color: var(--alert-color);
  color: var(--red-1);
}
.c-input__text--successful {
  background-color: var(--successful-color);
  color: var(--green-1);
}
.c-input__text--attention{
  background-color: var(--attention-color);
  color: var(--yellow-2);
}

