:root{
  /* colors */
  --primary-bg-color: #f5f3f3;
  --secondary-bg-color: #5683ff;
  --primary-font-color: #151541;
  --secondary-font-color: #46468b;
  --black: #000000;
  --white: #ffffff;
  --yellow-1: #ffe21d;
  --yellow-2: #ffd21d;
  --blue-1: #24afff;
  --blue-2: #248bff;
  --red-1: #f26c6c;
  --green-1: #27b667;
  --alert-color: #f3e5e5;
  --successful-color: #dae7e5;
  --attention-color:#ebe8df; 
  /* element margins */
  --title-margin: 10px 20px 5px 15px;
  --sub-title-margin: 20px 8px 5px 5px;
  --general-margin: 20px 20px 0 10px; 
  /* font */
  --font-style: 'Montserrat', sans-serif;
  --title-font-size: 30px;
  --main-font-size: 17px;
}
